---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
<h2>Unbelievably Meditative Adventure (UMA) Campground offers a quaint, inviting space to escape from the everyday monotony of life...</h2>

</BaseLayout>