---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Us";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <!-- insert H1 that is hidden or make the logo h1 -->
    <img src="https://source.unsplash.com/random/1200x900" alt="Hero Image" />
    <!-- end of hero image -->
    <p>
      We created UMA Campground as a safe haven, a peaceful escape for families,
      friends and fellow nature lovers.
    </p>
    <div class="first-gallery-items">
      <!-- Insert gallery item -->
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/400x300"
          alt="Gallery Image 1"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/401x301"
          alt="Gallery Image 2"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/402x302"
          alt="Gallery Image 3"
        />
      </div>
      <!-- end of Gallery Items -->
    </div>
    <p>
      It all started as a family-owned piece of land handed down through
      generations. Sam and Fabio, who both share the love of camping, water
      rafting and hiking decided to give the land a makeover and turned it into
      a peaceful campground.
    </p>
    <div class="second-gallery-items">
      <!-- Insert gallery item -->
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/400x300"
          alt="Gallery Image 1"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/401x301"
          alt="Gallery Image 2"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/402x302"
          alt="Gallery Image 3"
        />
      </div>
      <!-- end of Gallery Items -->
    </div>
    <p>
      In a span of 5 years, there’s a total of 15 campsites with amenities like
      shower/washroom, playground, general store, vegetable garden and a
      meditation hall.
    </p>
    <div class="second-gallery-items">
      <!-- Insert gallery item -->
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/400x300"
          alt="Gallery Image 1"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/401x301"
          alt="Gallery Image 2"
        />
      </div>
      <div class="gallery-item">
        <img
          src="https://source.unsplash.com/random/402x302"
          alt="Gallery Image 3"
        />
      </div>
      <!-- end of Gallery Items -->
    </div>
    <p>
      UMA is dedicated to provide a safe, sustainable and serene space that
      build community.
    </p>
  </section>
</BaseLayout>
