---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Campsite Map";
---

<BaseLayout pageTitle={pageTitle}>
<section>
    <div class="campsite-map">
      <!-- Insert gallery item -->
       <img src="https://source.unsplash.com/random/400x300" alt="Gallery Image 1" />

  </div>
</section>
</BaseLayout>
