---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Gallery";
---

<BaseLayout pageTitle={pageTitle}>
<section>
  <h1>Gallery</h1>
    <div class="gallery-items">
      <!-- Insert gallery item -->
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/400x300" alt="Gallery Image 1" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/401x301" alt="Gallery Image 2" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/402x302" alt="Gallery Image 3" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/403x303" alt="Gallery Image 4" />
      </div>
     <!-- end of Gallery Items -->
  </div>
</section>
</BaseLayout>
