---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Know Before You Go";
---

<BaseLayout pageTitle={pageTitle}>
  <section aria-labelledby="policies">
    <h2 id="policies">Cancellation Policy</h2>
    <p>This is where to write the cancellation Policy</p>
  </section>
  <section aria-labelledby="guidelines">
    <h2 id="amenities">Campsite Guidelines</h2>
    <p>Campsite Guidelines</p>
  </section>
</BaseLayout>
