---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Map";
---

<BaseLayout pageTitle={pageTitle}>
  <section aria-labelledby="faq-heading">
    <h1 id="faq-heading">Map</h1>
    <button><!-- Insert Download Button here --></button>
    <!-- Insert Campsite Map here -->
    <img src="https://source.unsplash.com/random/1200x900" alt="Hero Image" />
    <!-- End of Campsite Map -->
  </section>
</BaseLayout>
