---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Policy & Guidelines";
---

<BaseLayout pageTitle={pageTitle}>
<section aria-labelledby="policy-guidelines-heading">
  <h1 id="policy-guidelines-heading">Policy & Guidelines</h1>
    <div class="accordion-item">
    <h2>
      <button id="acc-1" aria-expanded="false" aria-controls="panel-1">What are the check-in and check-out times?</button>
    </h2>
    <div id="panel-1" role="region" aria-labelledby="acc-1" hidden>
      <p>Check-in is from 2 PM to 8 PM, and check-out is by 11 AM.</p>
    </div>
  </div>

  <div class="accordion-item">
    <h2>
      <button id="acc-2" aria-expanded="false" aria-controls="panel-2">How do I make a reservation?</button>
    </h2>
    <div id="panel-2" role="region" aria-labelledby="acc-2" hidden>
      <p>You can reserve online or Call us at (780) 123-4567</p>
    </div>
  </div>
      <div class="accordion-item">
    <h2>
      <button id="acc-1" aria-expanded="false" aria-controls="panel-1">How can I cancel or change my booking?</button>
    </h2>
    <div id="panel-1" role="region" aria-labelledby="acc-1" hidden>
      <p>You can cancel or change your booking online or by calling us at (780) 123-4567. Be sure to cancel it within 24 hours full refund. See our cancellation policy for more details.</p>
    </div>
  </div>
  <div class="accordion-item">
    <h2>
      <button id="acc-2" aria-expanded="false" aria-controls="panel-2">Are pets allowed at the campground?</button>
    </h2>
    <div id="panel-2" role="region" aria-labelledby="acc-2" hidden>
      <p>Yes, we are pet-friendly. Please keep pets on a leash and clean up after them.</p>
    </div>
  </div>
</section>
</BaseLayout>
