---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Plan your Stay";
---

<BaseLayout pageTitle={pageTitle}>
  <section aria-labelledby="sites-and-rates">
    <h2 id="sites-and-rates">Sites & Rates</h2>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="site image" />
      <div class="container">
        <h3>Un-serviced Tent Site</h3>
        <p><b>$30.00/night</b></p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="site image" />
      <div class="container">
        <h3>Group Site (20 Amp)</h3>
        <p><b>$300.00/night</b></p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="site image" />
      <div class="container">
        <h3>Serviced Site (20 Amp)</h3>
        <p><b>$45.00/night</b></p>
      </div>
    </div>
  </section>
    <section aria-labelledby="amenities">
    <h2 id="amenities">Amenities</h2>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="swimming pool situated at the heart of UMA campground" />
      <div class="container">
        <h3>Swimming Pool</h3>
        <p>Relax and cool off by our swimming pool - a perfect place to enjoy and unwind during Alberta's summer days. The pool is maintained daily to ensure clean, clear water and safe swimming environment for campers of all ages. </p>
        <section>
          <h4>Features</h4>
          <ol>
            <li>Family-friendly with shallow and deeper areas</li>
            <li>Comfortable poolside seating for tanning and resting</li>
          </ol>
        </section>
       <section>
          <h4>Rules / Quick Reminders</h4>
          <ul>
            <li>Pool hours: 10:00 AM - 8:00 PM</li>
            <li>Children under 12 must be supervised by an adult</li>
            <li>No diving or running around the pool area</li>
            <li>Proper swimwear required</li>
            <li>Please shower before entering the pool</li>
          </ul>
       </section>
        <small>Swimming Pool is only open from June to September.</small>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="bungalow meditation area" />
      <div class="container">
        <h3>Meditation Area</h3>
        <p>Our meditation area is a quaint and quiet place sheltered from the busy parts of the campground. This area is designed to help you slowdown, breathe deeply and reconnect with nature.</p>
       <section>
          <h4>Features</h4>
          <ol>
            <li>Phone-free zone</li>
            <li>Close to nature trails for pre- or post- meditation walks</li>
            <li>Wind Chimes & Natural Ambiance</li>
          </ol>
       </section>
       <section>
          <h4>Guidelines</h4>
          <ul>
            <li>No loud music at all times</li>
            <li>Keep voices low to maintain a calm atmosphere</li>
            <li>Respect shared space with others</li>
            <li>Please leave the area clean and tidy</li>
            <li>Outside Food is not allowed. There is a drinking fountain in the premise</li>
          </ul>
       </section>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="playground" />
      <div class="container">
        <h3>Playground</h3>
        <p>Uma playground is a kid-friendly placed reinforced with safety features to ensure a fun and lively playtime with the kids.</p>
        <section>
          <h4>Features</h4>
          <ol>
            <li>Slides, swings and climbing structures</li>
            <li>Soft, safety-tested ground surface</li>
            <li>Shaded seating area for parents</li>
            <li>Close to Washrooms and Picnic Tables</li>
            <li>Fully maintained and inspected regularly</li>
          </ol>
        </section>
       <section>
          <h4>Safety Notes</h4>
          <ul>
            <li>Children must always be supervised by adults.</li>
            <li>No food/drinks allowed. Please put the food in the picnic tables nearby</li>
            <li>Please respect the equipment and other families.</li>
          </ul>
       </section>
      </div>
    </div>
  </section>
   <section aria-labelledby="things-to-do">
    <h2 id="things-to-do">Things to Do</h2>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="people horseback riding" />
      <div class="container">
        <h3>Horseback Riding</h3>
        <p>Experience the thrill of horseback riding through scenic trails surrounding our campground. Suitable for all skill levels, our guided tours offer a unique way to explore nature while bonding with these magnificent animals.</p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="group of people hiking" />
      <div class="container">
        <h3>hiking</h3>
        <p>Discover the beauty of nature with our well-marked hiking trails that wind through diverse landscapes. Whether you're a beginner or an experienced hiker, our trails offer something for everyone, from leisurely walks to challenging climbs.</p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="a basket full of freshly caught fish" />
      <div class="container">
        <h3>Fishing</h3>
        <p>Enjoy a relaxing day of fishing at our stocked ponds and nearby lakes. Whether you're a seasoned angler or trying it for the first time, our fishing spots provide a peaceful setting to cast your line and potentially reel in a big catch.</p>
      </div>
    </div>
  </section>
  <section aria-labelledby="landmarks">
    <h2 id="landmarks">Landmarks</h2>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="campfire with marshmallows" />
      <div class="container">
        <h3>Castle Mountain</h3>
        <p>Castle Mountain is a tourist attraction known for its castle shape. This is the highest mountain in the area.</p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="winter landscape with snow-covered trees" />
      <div class="container">
        <h3>Lind Gondola</h3>
        <p>Lind Gondola is 15 minutes away from the campground. This gives you a birds eye and panoramic view of the whole city.</p>
      </div>
    </div>
    <div class="card">
     <img src="https://source.unsplash.com/random/1200x900" alt="tandura lake" />
      <div class="container">
        <h3>Tandura Lake</h3>
        <p>Tandura Lake is a beautiful lake located 10 minutes away from the campground. This lake is perfect for fishing and picnics.</p>
      </div>
    </div>
    </section>

</BaseLayout>
