---
import Social from './Social.astro';
---

<footer>
  <h2><img src="logo.png"alt="Uma Campground Logo"></h2>
  <p><em>"Your escape from reality, one campfire at a time."</em></p>
  <div class="map-embed" style="max-width:100%;height:0;padding-bottom:56%;position:relative;">
    <iframe
      src="https://www.google.com/maps?q=53.523638920642156,-112.97698959444676&t=k&z=16&output=embed"
      style="border:0;position:absolute;top:0;left:0;width:100%;height:100%;"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="UMA Campground location (satellite)"
    ></iframe>
  </div>
   <address>
  143 Pinto Road<br/>
  Kaumaan Alberta<br/>
  T3H 675<br/>
    <a href="tel:+780123456">+1(780) 123-456</a>
   </address>
   <nav aria-label="footer-nav">
    <ul>
      <li><a href="/rules">Rules</a></li>
      <li><a href="/rates">Rates</a></li>
      <li><a href="/guidelines">Community Guidelines</a></li>
      <li><a href="/amenities">Amenities</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a href="/cancellation">Cancellation Policy</a></li>
    </ul>
   </nav>
   <div>
    <p>Follow Us:</p>
      <Social platform = "facebook" username="uma"/>
      <Social platform = "tiktok" username="uma"/>
      <Social platform = "instagram" username="uma"/>
   </div>

   <nav aria-label="footer-secondary-nav">
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/terms-of-service">Terms of Service</a></li>
   </nav>
   <p><small>@2020 Uma Campground. All rights reserved.</small></p>

</footer>