---
import Hamburger from "../components/Hamburger.astro";
import Navigation from '../components/Navigation.astro';
const { showBookButton = true } = Astro.props;
---
<header>
  <div><a href = "/"><img class="logo" src="/logo.png" alt="Uma Campground logo" /></a></div>
  {showBookButton ? (
    <a href="/book-campsite" class="book-btn btn btn--primary">Book Now</a>
  ) : null}
  <nav aria-label="main-nav">
      <Navigation />
  </nav>
</header>
