---

---

<footer>
  <h2><img src="logo.png"alt="Uma Campground Logo"></h2>
  <p><em>"Your escape from reality, one campfire at a time."</em></p>
  <!-- insert map here -->
   <address>
  143 Pinto Road<br/>
  Kaumaan Alberta<br/>
  T3H 675<br/>
    <a href="tel:+780123456">+1(780) 123-456</a>
   </address>
   <nav aria-label="footer__nav">
    
   </nav>
</footer>