---
import Hamburger from "../components/Hamburger.astro";
import Navigation from '../components/Navigation.astro';
---
<header>
  <div><img class="logo" src="/logo.webp" alt="Samistro logo" /></div>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
