
  <ul class="menu__links">
    <li><a href="/">Home</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/plan-your-stay">Plan Your Stay
      <ul>
        <li><a href="/sites-&-rates">Sites & Rates</a></li>
        <li><a href="/amenities">Amenities</a></li>
        <li><a href="/things-to-do">Things To Do</a></li>
        <li><a href="/nearby-landmarks">Nearby Landmarks</a></li>
        <li><a href="/FAQs">FAQs</a></li>
      </ul>
    </a></li>
    <li><a href="/plan-your-stay">Contact Us</a></li>
  </ul>
